<div class="container">
    <div class="row">
      <div class="col">
        <div>
          <a [routerLink]="['/actualizar', indice+1]">
          {{indice+1 +": "}}{{empleadoDeLista.nombre}}
          {{empleadoDeLista.apellido}}
          {{empleadoDeLista.cargo}}
          {{"$"+(empleadoDeLista.sueldo)}}
        </a>
        </div>
        <ul style="list-style: none;">
          <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
        </ul>
        <app-caracteristicas-empleado (caracteristicasEmpleado)="agregarCaracteristica($event)"></app-caracteristicas-empleado>
      </div>
    </div>
  </div>