<div class="container">
    <div class="row">
      <div class="col">
        <div>
          <br/>
          {{indice+1 +": "}}{{empleadoDeLista.nombre}}
          {{empleadoDeLista.apellido}}
          {{empleadoDeLista.cargo}}
          {{"$"+(empleadoDeLista.sueldo)}}       
          &nbsp;
          <a [routerLink]="['/actualizar', indice+1]" [queryParams]="{accion:'actualizar'}">Actualizar</a>
          &nbsp;&nbsp;&nbsp;
          <a [routerLink]="['/actualizar', indice+1]" [queryParams]="{accion:'eliminar'}">Eliminar</a>
        </div>
        <ul style="list-style: none;">
          <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
        </ul>
        <app-caracteristicas-empleado (caracteristicasEmpleado)="agregarCaracteristica($event)"></app-caracteristicas-empleado>
      </div>
    </div>
  </div>